.box-product-me {
    padding: 45px 0;
    .nav-tabs {
      margin-top: 40px;
    }
  
    .item-product-me {
      margin-bottom: 40px;
      .box-info-1 {
        margin-top: 26px;
      }
    }
  }
  