@mixin button-size($h, $pdx, $fz){
    height: $h; line-height: $h - 2px; padding: 0 $pdx; font-size: $fz;
  
  }
  
  @mixin button-color($c, $bgc, $bdc,  $c-hover: $c, $bgc-hover: $bgc, $bdc-hover: $bdc, $important: false){
    // $c-active: $c-hover, $bgc-active: $bgc-hover, $bdc-active: $bdc-hover
    @if ($important){
      &, &:focus{
        color: $c; background-color: $bgc; border-color: $bdc;
      }
      &:hover{
        color: $c-hover; background-color: $bgc-hover; border-color: $bdc-hover;
      }
      &:active{
        color: darken($c-hover, 5%); background-color: darken($bgc-hover, 5%); border-color: darken($bdc-hover, 5%);
      }
    }@else{
      &, &:focus{
        color: $c !important; background-color: $bgc !important; border-color: $bdc !important;
      }
      &:hover{
        color: $c-hover !important; background-color: $bgc-hover !important; border-color: $bdc-hover !important;
      }
      &:active{
        color: darken($c-hover, 5%) !important; background-color: darken($bgc-hover, 5%) !important; border-color: darken($bdc-hover, 5%) !important;
      }
    }
  
  }
  
  .button{
    $s: &; @extend %no-outline; display: inline-block; vertical-align: top; position: relative; white-space: nowrap; text-align: center; border: 1px solid;
    @include border-radius(0);
  
    i {
      margin-right: 5px; font-size: 22px;
    }
  
    @include button-size(38px, 25px, 18px);
  
    @include button-color(
    #fff,$color-main,$color-main,$color-main,$color-main,#fff
      //$c, $bgc, $bdc,  $c-hover: $c, $bgc-hover: $bgc, $bdc-hover: $bdc
    );
    &[disabled], &.disabled{
      font-weight: 400; color: #666 !important; background-color: #fff !important; border-color: #666 !important; pointer-events: none !important;
    }
  
    &:active, &:focus, &:hover{
      text-decoration: none !important;
    }
  
    // border radius
    &-no-bdrd{
      border-radius: 0;
    }
  
    &-rounded{
      @include border-radius(20px);
    }
  
    // size
    &-lg-1{
      @include button-size(50px, 30px, 22px);
      &.button-rounded {
        @include border-radius(50px);
      }
    }
    //&-xxl{
    //  @include button-size(72px, 48px, 28px);
    //}
    &-md{
      @include button-size(38px, 29px, 20px);
    }
    &-md-1{
      @include button-size(46px, 23px, 18px); @include border-radius(3px);
    }
    &-md-2{
      @include button-size(42px, 40px, 18px);
    }
    &-sm{
      @include button-size(52px, 30px, 28px);
    }
    &-lg{
      @include button-size(56px, 30px, 18px);
    }
    &-xs{
      @include button-size(27px, 20px, 18px);
    }
  
    &-type01 {
      @include button-color(
         #fff,$color-main,$color-main,$color-main,#fff,$color-main
      );
    }
  
    &-type02 {
      @include button-color(
         #fff,$color-blue,$color-blue,$color-blue,#fff,$color-blue
      );
    }
  
    &-type03 {
      text-transform: uppercase; min-width: 260px;
      @include button-color(
         #fff,rgba(9, 97, 72, 0.7),#fff,#fff,rgba(198, 5, 43, 0.7),#fff
      );
    }
  
    &-type04 {
      @include button-color(
         #fff,transparent,#fff,#fff,$color-main,#fff
      );
    }
  
    &-type05 {
      @include button-color(
         $color-text,#fff,#fff,#fff,$color-main,#fff
      );
    }
  
    &-type06 {
      @include button-color(
         $color-text,#fff,#e5e5e5,#fff,$color-main,#fff
      );
    }
  
    // icons
    &-icon-left{
      @include button-size(40px, 25px, 18px);
      i {
        position: absolute; left: 27px; transform: translate(-50%, -50%); top: 50%; margin: 0;
        font-size: 20px;
      }
    }
    &.has-icon-left{
      padding-left: 48px;
      &:before {
        display: block; position: absolute; top: 0; left: 0; bottom: 0; background-size: auto; height: 100%; background-position: center;
      }
    }
    &.has-icon-right{
      padding-right: 48px;
      &:before {
        display: block; position: absolute; top: 0; right: 0; bottom: 0; background-size: auto; height: 100%; background-position: center;
      }
    }
  }
  
  label.c-button{
    cursor: pointer;
  }
  
  .button-link{
    display: inline-block; height: 52px; line-height: 52px; padding: 0; font-size: 18px; color: $color-text !important; border: none !important; background-color: transparent !important;
    &:hover{
      color: $color-link !important; text-decoration: none;
    }
    &:focus {
      background-color: transparent !important; border-color: transparent; color: $color-text !important;
    }
  }
  
  %remove-button {
    @include border-radius(0); border: none !important; padding: 0; line-height: inherit; height: auto;
  }
  
  .button {
    + .button {
      margin-left: 20px;
    }
  }
  
  .disabled {
    pointer-events: none; cursor: default;
  }
  
  .box-upload {
    position: relative; display: inline-block;
    input[type="file"] {
      position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 1;
    }
  }

  @each $name, $value in $themes-color {
    .#{$name} {
      background-color: $value;
      border-color: $value;
      
      &:hover {
        color: #fff;
        border-color: darken($value, 5%);
        background-color: darken($value, 5%);
      }
  
      &:not(:disabled):not(.disabled) {
        &:active,&:focus, &.active,
        // remove box-shadow button bootstrap
        &:active:focus {
          background-color: darken($value, 10%);
          border-color: darken($value, 10%);
          box-shadow: none;
        }
      }
    }
  }
  