.box-modal-default {
	.modal-dialog {
		width: 100%; max-width: 100%;
		@media all and (min-width: 995px){
			width: 995px;
		}
	}
	.modal-header{
		border-bottom: 1px solid #e5e5e5; @include border-radius(0); padding: 15px 20px 10px 125px;
	}

	.logo-modal {
		margin-bottom: 0;
	}

	.modal-title {
		font-size: 20px; color: $color-text; margin: 0 0 20px 0; font-weight: normal;
	}

	.modal-body{
		padding: 30px 80px 40px 125px;
	}

	.close{
		opacity: 1; margin-top: -0.5rem;
	}
}

@media (min-width: 768px){
	.modal-dialog {
		margin: 160px auto auto auto;
	}
}

@media (max-width: 768px){
	.modal-dialog {
		margin-top: 30px;
	}
}
