// ====================================
// VARIABLES
// ====================================

$font-base: 16px;

// ================ COLORS ================================
$color-main: #1A699A;
$color-link: #096148;
$color-blue: #096148;
$color-scrollbar: #999;
$color-text: #111;
$color-text-1: #080808;
$color-text-2: #737373;
$color-title: #252525;


// Button color
$color-primary: #1f73a7;
$color-danger: #d83f3f;
$color-success: #249224;
$themes-color: ();
$themes-color: map-merge(
  (
    'btn-primary': $color-primary,
    'btn-danger': $color-danger,
    'btn-success': $color-success
  ),
  $themes-color
);

$bg-brown-1: #7c7c7c;
$bg-black: #292929;

$color-border: #ccc;

$color-white: #fff;

// ================ Z-index ================================


// ================ END Z-index ================================


// ================ BORDER COLORS ================================

$form-control-border-color-hover: #1a699a;
// ================END BORDER COLORS ================================

// ================ FORM ================================
$form-group-margin: 15px;

$dropdown-custom-control-color: #dcdcdc;
$dropdown-custom-control-title-padding: 7px 38px 7px 10px;
$dropdown-custom-control-title-padding-x: 10px;
$dropdown-custom-item-padding: 5px 10px;
$dropdown-custom-control-border-color: #d5d5d8;
$dropdown-custom-item-background: #cfe6f3;             

$dropdown-menu-padding: 10px 5px;
$dropdown-menu-border-color: #d5d5d8;

$input-group-icon-width: 38px;

$form-check-padding-y: 24px;

$form-search-border-color: #d5d5d8;
// ================END FORMS ================================

//================DROPDOWN SIZE ================================ //
$dropdown-size-md: 260px;
$dropdown-size-lg: 300px;
$dropdown-size-xl: 340px;

$dropdown-size: ();
$dropdown-size: map-merge(
  (
    'dropdown-md': $dropdown-size-md,
    'dropdown-lg': $dropdown-size-lg,
    'dropdown-xl': $dropdown-size-xl
  ),
  $dropdown-size
);
// ================END DROPDOWN SIZE ================================



// Dimensions

$var-height-header: 80px;

$screen-xs:         480px !default;
$screen-xs-min:     $screen-xs !default;
$screen-sm:         768px !default;
$screen-sm-min:     $screen-sm !default;
$screen-md:         992px !default;
$screen-md-min:     $screen-md !default;
$screen-lg:         1200px !default;
$screen-lg-min:     $screen-lg !default;
$screen-xl: 		1440px;
$screen-xl-min:     $screen-xl !default;

$screen-xs-max:			($screen-sm-min - 1) !default;
$screen-sm-max:			($screen-md-min - 1) !default;
$screen-md-max:			($screen-lg-min - 1) !default;
$screen-lg-max:			($screen-xl-min - 1) !default;

